/* saludo.css */

body {
    background-color: #a1dbff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  /* Estilo de la nubesita */
  .nube {
    position: relative;
    display: inline-block;
    background-color: #16f158;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
    
  h1 {
    margin: 0;
    color: #333;
  }
  
  p {
    margin-bottom: 10px;
    color: #333;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #0569ff;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilo para el saludo */
  #saludo {
    margin-top: 20px;
    font-size: 18px;
    color: #090c13;
    font-weight: bold;
  }
  